.new-tweet{
    border-top: 1px solid #44475a;
}

/* #new-tweet{
    border:2px solid red;
} */

.new-tweet-container{
    margin-top: 5px;
    margin-left: 2px;
    width: 100%;
}

.new-tweet-text{
    font-size: 1.3em;
    outline: 0;
    background-color: #282a36;
    border: none;
    min-height: 40px;
    width: 95%;
    color: white;
    resize:none;
}

.new-tweet-button{
    text-align: center;
    width: 70px;
    padding: 2px 0;
    outline:0;
    border-radius: 10px;
    background-color: #323444;
    color: #aaaaaa;
    border: 1px solid transparent;
}

.new-tweet-button:hover{
    border: 1px solid #8be9fd;
    color: #8be9fd;
}

.new-tweet-icons{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}