.tweet{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #44475a;
}

.left-side-tweet{
    margin-right: 10px;
}

.tweet-container{
    width:100%;
    margin-right: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border-radius: 10px;
}

.tweet-header{
    display: flex;
    gap: 10px;
}

.tweet-author{
    color: #ffd6f1;
}

.tweet-date{
    color:#44475a;
}

.tweet-footer{
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    margin-top: 20px;
}

.tweet-del-res{
    outline: 0;
    color: #aaaaaa;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px 7px;
    cursor: pointer;
    background-color: #323444;
    width: 40px;
}

.tweet-del-res:hover, .tweet-del-res:focus{
    color: #ffd6f1;
    border: 1px solid #FFD6F1;
}

.tweet-del-msg{
    font-style: italic;
    margin-right:auto;
}

.tweet-content{
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}