.side-bar{
    height:100%;
}

.side-bar-connections{
    display: flex;
    justify-content: space-evenly;
    min-width: 200px;
    padding: 10px;
    margin: 0 15px;
    gap: 25px;
}

.follow-button-handler{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.follow-button{
    text-align: center;
    width: 90px;
    background-color: #323444;
    border-radius: 25px;
    border: 2px solid #323444;
    text-decoration: none;
    cursor: pointer;
    color: #8be9fd;
    margin: 20px;
}

.follow-button:hover{
    color: #bd93f9;
    border: 2px solid #bd93f9;
}

.follow-list-handler{
    height:100%;
}

.follow-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.follow-list-title{
    align-self: center;
    color: #bd93f9;
    margin: 10px 50px;
}

.follow-list-elem{
    margin-left: 10px;
    color: #ffd6f1;
    list-style-type: none;
    margin: 0 20px;
    padding: 5px 0;
}

.follow-list-username:hover, .follow-list-username:focus{
    color: #ff79c6;
}

.follow-list-username{
    cursor: pointer;
}



/* .side-bar{
    border:2px solid red;
} */